{% extends "layout.html.j2" %}
{% block title %}Apprentice Assignments{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <h1>Apprentice Assignments</h1>
  </div>

  <div class="row">
    <h2>Radicals</h2>
  </div>
  <div class="row">
    {% for radical in radicals %}
    <div class="card col-md-3 col-6">
      <p class="radical">
        <a href="{{ radical.subject.document_url }}">
          {% if radical.subject.characters %}
          {{ radical.subject.characters }}
          {% else %}
          <img src="{{ url_for('radical_svg', path=radical.subject.character_svg_path) }}" alt="radical for {{ radical.subject.meanings[0] }}" />
          {% endif %}
        </a>
      </p>
      <p>{{ radical.subject.meanings | join(", ")}}</p>
    </div>
    {% endfor %}
  </div>

  <div class="row">
    <h2>Kanji</h2>
  </div>
  <div class="row">
    {% for k in kanji %}
    <div class="card col-md-3 col-6">
      <p class="kanji">
        <a href="{{ k.subject.document_url }}">
          {{ k.subject.characters }}
        </a>
      </p>
      <p>{{ k.subject.readings | join(", ")}}</p>
      <p>{{ k.subject.meanings | join(", ")}}</p>
    </div>
    {% endfor %}
  </div>

  <div class="row">
    <h2>Vocabulary</h2>
  </div>
  <div class="row">
    {% for v in vocabulary %}
    <div class="card col-md-3 col-6">
      <p class="vocabulary">
        <a href="{{ v.subject.document_url }}">
          {{ v.subject.characters }}
        </a>
      </p>
      <p>{{ v.subject.readings | join(", ") }}</p>
      <p>{{ v.subject.meanings | join(", ")}}</p>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
