{% extends "layout.html.j2" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <h1>Login</h1>

    <p>Enter your <a href="https://www.wanikani.com/settings/personal_access_tokens">API key</a>:</p>

    <form action="{{ url_for('login') }}" method="POST">
      <div class="input-group">
        <input type="text" class="form-control" name="api_key" placeholder="Paste your API key here">
	<span class="input-group-btn">
          <input class="btn btn-outline-secondary" type="submit" value="Login">
	</span>
      </div>
    </form>
  </div>
</div>
{% endblock %}
